@font-face {
    font-family: 'Ganjnameh';
    src:url('//cdn.font-store.ir/fonts/ganjnameh/GanjNamehSans-Regular.woff2') format('woff2'),
    url('//cdn.font-store.ir/fonts/ganjnameh/GanjNamehSans-Regular.woff') format('woff'),
    url('//cdn.font-store.ir/fonts/ganjnameh/GanjNamehSans-Regular.ttf') format('truetype'),
	url('//cdn.font-store.ir/fonts/ganjnameh/GanjNamehSans-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}