@font-face {
    font-family: 'Noon';
    src:url('http://cdn.font-store.ir/fonts/noon/Noon-Regular.woff2') format('woff2'),
    url('http://cdn.font-store.ir/fonts/noon/Noon-Regular.woff') format('woff'),
    url('http://cdn.font-store.ir/fonts/noon/Noon-Regular.ttf') format('truetype'),
	url('http://cdn.font-store.ir/fonts/noon/Noon-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}