@font-face {
    font-family: 'yekan';
    src:url('http://cdn.font-store.ir/fonts/yekan/Yekan-Regular.woff2') format('woff2'),
    url('http://cdn.font-store.ir/fonts/yekan/Yekan-Regular.woff') format('woff'),
    url('http://cdn.font-store.ir/fonts/yekan/Yekan-Regular.ttf') format('truetype'),
	url('http://cdn.font-store.ir/fonts/yekan/Yekan-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'yekan';
    src:url('http://cdn.font-store.ir/fonts/yekan/Yekan-Bold.woff2') format('woff2'),
    url('http://cdn.font-store.ir/fonts/yekan/Yekan-Bold.woff') format('woff'),
    url('http://cdn.font-store.ir/fonts/yekan/Yekan-Bold.ttf') format('truetype'),
	url('http://cdn.font-store.ir/fonts/yekan/Yekan-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}